<footer class="footer">
    <div class="container">
      <div class="column is-offset-one-half">
        <div class="content">
          <p class="footer-c rainbow">
              &copy; 2017 Tori French |
              <%= link_to '<i class="fa fa-linkedin fa-bigger"></i>', 'https://ca.linkedin.com/in/tori-french-66b77857', :class => 'icon rainbow', target: :_blank %>
          </p>
        </div>
      </div>
    </div>
</footer>
