<div class="container section" id="contact">
  <div class="container front">
    <h1 class="title">Get in Touch!</h1>
    <p></p>
  </div>

  <form action="http://www.focuspocus.io/magic/vie_french@yahoo.com" method="POST" autocomplete="off" name="myForm">
    <div class="form-space front">
      <p class="label">Full Name</p>
      <input type="text" name="full_name" placeholder="Full Name" class="input is-info form-space front">
    </div>
    <div class="form-space">
      <label class="label">Email</label>
      <input type="email" name="email" placeholder="Email Address" class="input is-primary form-space front">
    </div>
    <div class="form-space">
      <label class="label">Phone</label>
      <input type="text" name="phoneNumber" placeholder="Phone" class="input is-success front">
    </div>
    <div class="form-space style-4">
      <label class="label">Message</label>
      <textarea type="text" name="special_instructions" class="textarea is-warning front" placeholder="Message"></textarea>
    </div>
    <div>
      <input type="submit" class="button is-danger" value="Say Hi">
   </div>
  </form>
</div>

<img class="icon4" src="/images/rainbow4.png"/>

<footer class="footer">
    <div class="container front">
      <div class="column is-offset-one-half">
        <div class="content">
          <p class="footer-c rainbow1">
              &copy; 2017 Tori French
          </p>
        </div>
      </div>
    </div>
</footer>
