<section class="hero is-medium nav-padding">
  <nav class="nav has-shadow" id="top">
    <div class="container">
      <div class="nav-left">
        <a class="nav-item" href="/index.html">
          <img src="x.png" alt="Tori French">
        </a>
      </div>
      <span class="nav-toggle">
        <span></span>
        <span></span>
        <span></span>
      </span>
      <div class="nav-right nav-menu">
        <a class="nav-item is-tab" href="#about">
          About
        </a>
        <a class="nav-item is-tab" href="#work">
          Work
        </a>
        <a class="nav-item is-tab" href="#contact">
          Contact
        </a>
      </div>
    </div>
  </nav>

  <!-- Hero content: will be in the middle -->
  <div class="hero-body first-hero">
    <div class="container has-text-centered">
      <h1 class="title font-lg">
        Tori French
      </h1>
      <h2 class="subtitle font-ml">
        Graphic Designer <span class="blink_me rainbow">EXTRAORDINAIRE</span>
      </h2>
    </div>
  </div>
</section>
