<section class="hero is-medium nav-padding">
  <header class="hello">
    <nav class="nav has-shadow">
      <div class="container">
        <div class="nav-left">
          <a class="nav-item" href="/index.html#top">
            <img src="x.png" alt="Tori French">
          </a>
        </div>
        <span class="nav-toggle">
          <span></span>
          <span></span>
          <span></span>
        </span>
        <div class="nav-right nav-menu">
          <a class="nav-item is-tab" href="index.html#about">
            About
          </a>
          <a class="nav-item is-tab" href="index.html#work">
            Work
          </a>
          <a class="nav-item is-tab" href="index.html#contact">
            Contact
          </a>
        </div>
      </div>
    </nav>
  </header>
</section>
  <!-- Hero content: will be in the middle
<section class="hero is-medium nav-padding">
  <div class="hero-body first-hero">
    <div class="container has-text-centered">
      <h1 class="title font-lg">
        Tori French
      </h1>
      <h2 class="subtitle font-ml">
        Graphic Designer <span class="blink_me rainbow">EXTRAORDINAIRE</span>
      </h2>
    </div>
  </div>
</section> -->
