<section class="hero is-small">
 <div class="hero-body">
   <div class="container">
     <div class="columns has-text-centered">
       <div class="column">
         <h1 class="title is-2">
           Set Design - Barco Tile
         </h1>

         <%= partial "nav-more" %>

       </div>
     </div>
   </div>
 </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-mobile is-multiline">
      <div class="column is-one-third-desktop is-full-mobile">
        <a class="box" href="/images/tsc_barco.jpg">
          <figure class="image"><img src="/images/tsc_barco.jpg"></figure>
        </a>
      </div>
      <div class="column is-one-third-desktop is-full-mobile">
        <a class="box" href="/images/barco/tsc_perri.jpg">
          <figure class="image"><img src="/images/barco/tsc_perri.jpg"></figure>
        </a>
      </div>
      <div class="column is-one-third-desktop is-full-mobile">
        <a class="box" href="/images/barco/tsc_verticle.jpg">
          <figure class="image"><img src="/images/barco/tsc_verticle.jpg"></figure>
        </a>
      </div>
      <div class="column is-one-third-desktop is-full-mobile">
        <a class="box" href="/images/barco/tsc_launch.jpg">
          <figure class="image"><img src="/images/barco/tsc_launch.jpg"></figure>
        </a>
      </div>
      <div class="column is-one-third-desktop is-full-mobile">
        <a class="box" href="/images/barco/tsc_hushp.jpg">
          <figure class="image"><img src="/images/barco/tsc_hushp.jpg"></figure>
        </a>
      </div>
      <div class="column is-one-third-desktop is-full-mobile">
        <a class="box" href="/images/barco/tsc_chineglaze.jpg">
          <figure class="image"><img src="/images/barco/tsc_chineglaze.jpg"></figure>
        </a>
      </div>
    </div>
  </div>
</section>
