<section class="hero is-small">
 <div class="hero-body">
   <div class="container">
     <div class="columns has-text-centered">
       <div class="column">
         <h1 class="title is-2">
           Bite Me & Personal Illustrations
         </h1>

         <%= partial "nav-more" %>

       </div>
     </div>
   </div>
 </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-mobile is-multiline">
      <div class="column is-one-third-desktop is-full-mobile">
        <a class="box" href="/images/biteme-personal/bite_me.jpg">
          <figure class="image"><img src="/images/biteme-personal/bite_me.jpg"></figure>
        </a>
      </div>
      <div class="column is-one-third-desktop is-full-mobile">
        <a class="box" href="/images/biteme-personal/personal.jpg">
          <figure class="image"><img src="/images/biteme-personal/personal.jpg"></figure>
        </a>
      </div>
      <div class="column is-one-third-desktop is-full-mobile">
        <a class="box" href="/images/biteme-personal/skates.jpg">
          <figure class="image"><img src="/images/biteme-personal/skates.jpg"></figure>
        </a>
      </div>
      <div class="column is-one-third-desktop is-full-mobile">
        <a class="box" href="/images/biteme-personal/naps.jpg">
          <figure class="image"><img src="/images/biteme-personal/naps.jpg"></figure>
        </a>
      </div>
      <div class="column is-one-third-desktop is-full-mobile">
        <a class="box" href="/images/biteme-personal/nar-wall.jpg">
          <figure class="image"><img src="/images/biteme-personal/nar-wall.jpg"></figure>
        </a>
      </div>
      <div class="column is-one-third-desktop is-full-mobile">
        <a class="box" href="/images/biteme-personal/slow_jams.jpg">
          <figure class="image"><img src="/images/biteme-personal/slow_jams.jpg"></figure>
        </a>
      </div>
      <div class="column is-one-third-desktop is-full-mobile">
        <a class="box" href="/images/biteme-personal/skating.jpg">
          <figure class="image"><img src="/images/biteme-personal/skating.jpg"></figure>
        </a>
      </div>
      <div class="column is-one-third-desktop is-full-mobile">
        <a class="box" href="/images/biteme-personal/black_cat.jpg">
          <figure class="image"><img src="/images/biteme-personal/black_cat.jpg"></figure>
        </a>
      </div>
      <div class="column is-one-third-desktop is-full-mobile">
        <a class="box" href="/images/biteme-personal/how_to_dress.jpg">
          <figure class="image"><img src="/images/biteme-personal/how_to_dress.jpg"></figure>
        </a>
      </div>
    </div>
  </div>
</section>
