<section class="hero is-small">
 <div class="hero-body">
   <div class="container">
     <div class="columns has-text-centered">
       <div class="column">
         <h1 class="title is-2">
           Still Pages - Branding
         </h1>

         <%= partial "nav-more" %>

       </div>
     </div>
   </div>
 </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-mobile is-multiline">
      <div class="column is-one-third-desktop is-full-mobile">
        <a class="box" href="/images/tsc_brand.jpg">
          <figure class="image"><img src="/images/tsc_brand.jpg"></figure>
        </a>
      </div>
      <div class="column is-one-third-desktop is-full-mobile">
        <a class="box" href="/images/branding/tsc_bb.jpg">
          <figure class="image"><img src="/images/branding/tsc_bb.jpg"></figure>
        </a>
      </div>
      <div class="column is-one-third-desktop is-full-mobile">
        <a class="box" href="/images/branding/tsc_ts.jpg">
          <figure class="image"><img src="/images/branding/tsc_ts.jpg"></figure>
        </a>
      </div>
      <div class="column is-one-third-desktop is-full-mobile">
        <a class="box" href="/images/branding/tsc_bag.jpg">
          <figure class="image"><img src="/images/branding/tsc_bag.jpg"></figure>
        </a>
      </div>
    </div>
  </div>
</section>
