<section class="hero is-small">
 <div class="hero-body">
   <div class="container">
     <div class="columns has-text-centered">
       <div class="column">
         <h1 class="title is-2">
           Photo Composition
         </h1>

         <%= partial "nav-more" %>

       </div>
     </div>
   </div>
 </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-mobile is-multiline">
      <div class="column is-one-third-desktop is-full-mobile">
        <a class="box" href="/images/composition/pisa.jpg">
          <figure class="image"><img src="/images/composition/pisa.jpg"></figure>
        </a>
      </div>
      <div class="column is-one-third-desktop is-full-mobile">
        <a class="box" href="/images/composition/freelance_2.jpg">
          <figure class="image"><img src="/images/composition/freelance_2.jpg"></figure>
        </a>
      </div>
      <div class="column is-one-third-desktop is-full-mobile">
        <a class="box" href="/images/composition/freelance_3.jpg">
          <figure class="image"><img src="/images/composition/freelance_3.jpg"></figure>
        </a>
      </div>
      <div class="column is-one-third-desktop is-full-mobile">
        <a class="box" href="/images/composition/freelance_4.jpg">
          <figure class="image"><img src="/images/composition/freelance_4.jpg"></figure>
        </a>
      </div>
      <div class="column is-one-third-desktop is-full-mobile">
        <a class="box" href="/images/composition/freelance_5.jpg">
          <figure class="image"><img src="/images/composition/freelance_5.jpg"></figure>
        </a>
      </div>
    </div>
  </div>
</section>
