---
title: Tori French
---
<!-- <img class="icon" src="/images/rainbow3.png"/> -->

<section class="hero is-medium nav-padding" id="top">
  <div class="hero-body first-hero">
    <div class="container has-text-centered front">
      <h1 class="title font-lg">
        Tori French
      </h1>
      <h2 class="subtitle font-ml">
        Graphic Designer <span class="blink_me rainbow">EXTRAORDINAIRE</span>
      </h2>
    </div>
  </div>
</section>

<div class="container section" id="about">
<!--  <div class="container front">
    <h1 class="title">About Me</h1>
    <p></p>
  </div> -->

  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="columns is-vcentered">
        <div class="column is-5 front">
            <img src="images/tori.png" alt="Selfie">
        </div>
        <div class="column is-6 is-offset-1 front">
          <h1 class="title">About Me</h1>
          <p class="is-4 font-md">
            I'm an experienced Graphic Designer at The Shopping Channel who is
            passionate about all things Photoshop. Recently, I completed a Front
            End Development course at HackerYou. Since then, I have been down
            the endless rabbit hole of all things web and UX/UI design. I just can't
            get enough! In my spare time, I play roller derby for the GTA
            Rollergirls and love playing with every cat I come accross! I really
            want a pet unicorn!
          </p>
          <br>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <img class="icon2" src="/images/rainbow5.png"/> -->

<div class="container section" id="work">
  <div class="container front">
    <h1 class="title">Work</h1>
    <p></p>
  </div>

  <div class="columns">
    <div class="column is-4 front">
      <div class="card">
        <header class="card-header">
          <p class="card-header-title font-md">
            Still Pages - Marketing
          </p>
        </header>
        <div class="card-image">
          <figure class="image is-4by3">
            <img src="/images/tsc_marketing.jpg" alt="Still-Marketing">
          </figure>
        </div>
        <div class="card-content">
          <div class="panel-block-item font-sm">
            <p>
              I take existing campaigns and adjust elements, rebuild, or create new stills to be used on air.
            </p>
            <p>
              <a href="marketing.html">See More Examples</a>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="column is-4 front">
      <div class="card">
        <header class="card-header">
          <p class="card-header-title font-md">
            Still Pages - Branding
          </p>
        </header>
        <div class="card-image">
          <figure class="image is-4by3">
            <img src="/images/tsc_brand.jpg" alt="Still-Branding">
          </figure>
        </div>
        <div class="card-content">
          <div class="panel-block-item font-sm">
            <p>
              I create stills for specific brands by sretouching product images and colour correcting.
            </p>
            <p>
              <a href="branding.html">See More Examples</a>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="column is-4 front">
      <div class="card">
        <header class="card-header">
          <p class="card-header-title font-md">
            Roller Derby Campaign
          </p>
        </header>
        <div class="card-image">
          <figure class="image is-4by3">
            <img src="/images/gtar_debs.jpg" alt="Roller-Derby-Banner">
          </figure>
        </div>
        <div class="card-content">
          <div class="panel-block-item font-sm">
            <p>
              I create digital banners, social media content, and posters for the GTA Rollergirls season.
            </p>
            <p>
              <a href="derby.html">See More Examples</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="columns">
    <div class="column is-4 front">
      <div class="card">
        <header class="card-header">
          <p class="card-header-title font-md">
            Set Design - Barco Tile
          </p>
        </header>
        <div class="card-image">
          <figure class="image is-4by3">
            <img src="/images/tsc_perri.jpg" alt="Barco-Tile">
          </figure>
        </div>
        <div class="card-content">
          <div class="panel-block-item font-sm">
            <p>
              I use Photoshop, Illustrator, and After Effects to create, draw, and combine images to create set backgrounds for live use.
            </p>
            <p>
              <a href="barco.html">See More Examples</a>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="column is-4 front">
      <div class="card">
        <header class="card-header">
          <p class="card-header-title font-md">
            Illustration - Bite Me
          </p>
        </header>
        <div class="card-image">
          <figure class="image is-4by3">
            <img src="/images/bite_me.jpg" alt="Bite-Me">
          </figure>
        </div>
        <div class="card-content">
          <div class="panel-block-item font-sm">
            <p>
              I draw and design original artwork for the roller derby community which are sold through The Bite Me Boutique.
            </p>
            <p>
              <a href="biteme-personal.html">See More Examples</a>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="column is-4 front">
      <div class="card">
        <header class="card-header">
          <p class="card-header-title font-md">
            Illustration - Retirement
          </p>
        </header>
        <div class="card-image">
          <figure class="image is-4by3">
            <img src="/images/tsc_retirement.jpg" alt="Retirement">
          </figure>
        </div>
        <div class="card-content">
          <div class="panel-block-item font-sm">
            <p>
              I created a custom illustration and animation used on-air for the retirement of a host at The Shopping Channel.
            </p>
            <p>
              <a href="retire-story.html">See More Examples</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="columns">
    <div class="column is-4 front">
      <div class="card">
        <header class="card-header">
          <p class="card-header-title font-md">
            Story Board
          </p>
        </header>
        <div class="card-image">
          <figure class="image is-4by3">
            <img src="/images/tsc_story.jpg" alt="Story Board">
          </figure>
        </div>
        <div class="card-content">
          <div class="panel-block-item font-sm">
            <p>
              I created, from conception to completion, a 15 panel story board for an internal pitch for a proposed commercial shoot.
            </p>
            <p>
              <a href="retire-story.html">See More Examples</a>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="column is-4 front">
      <div class="card">
        <header class="card-header">
          <p class="card-header-title font-md">
            Illustration - Personal
          </p>
        </header>
        <div class="card-image">
          <figure class="image is-4by3">
            <img src="/images/personal.jpg" alt="Dress Like a Woman">
          </figure>
        </div>
        <div class="card-content">
          <div class="panel-block-item font-sm">
            <p>
              When I have spare time, I like to spend it making awesome and fun artwork. I also like to learn new techniques while I'm at it.
            </p>
            <p>
              <a href="biteme-personal.html">See More Examples</a>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="column is-4 front">
      <div class="card">
        <header class="card-header">
          <p class="card-header-title font-md">
            Photo - Retouching
          </p>
        </header>
        <div class="card-image">
          <figure class="image is-4by3">
            <img src="/images/tsc_retouch.jpg" alt="Retouch">
          </figure>
        </div>
        <div class="card-content">
          <div class="panel-block-item font-sm">
            <p>
              I'm a pro at retouching. From product and model images to personal photos and team shots. You name it, I've retouched it.
            </p>
            <p>
              <a href="retouch.html">See More Examples</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="columns">
    <div class="column is-4 front">
      <div class="card">
        <header class="card-header">
          <p class="card-header-title font-md">
            Photo - Compositions
          </p>
        </header>
        <div class="card-image">
          <figure class="image is-4by3">
            <img src="/images/pisa.jpg" alt="Composition">
          </figure>
        </div>
        <div class="card-content">
          <div class="panel-block-item font-sm">
            <p>
              I worked with traveling entrepreneur, Elise Darma, to add fun elements to her photos, such as the leaning tower of Pisa.
            </p>
            <p>
              <a href="composition.html">See More Examples</a>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="column is-4 front">
      <div class="card">
        <header class="card-header">
          <p class="card-header-title font-md">
            Photography - Products
          </p>
        </header>
        <div class="card-image">
          <figure class="image is-4by3">
            <img src="/images/tsc_photo_product.jpg" alt="Products">
          </figure>
        </div>
        <div class="card-content">
          <div class="panel-block-item font-sm">
            <p>
              I have professional experience in styling, lighting, shooting, and editing images that will be used online and on-air.
            </p>
            <p>
              <a href="photo.html">See More Examples</a>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="column is-4 front">
      <div class="card">
        <header class="card-header">
          <p class="card-header-title font-md">
            Photography - Volunteer
          </p>
        </header>
        <div class="card-image">
          <figure class="image is-4by3">
            <img src="/images/argos_1.jpg" alt="Rowing">
          </figure>
        </div>
        <div class="card-content">
          <div class="panel-block-item font-sm">
            <p>
              I took numerous photos for the Learn to Row and Develop program of the Toronto Argnoaut Rowing Club.
            </p>
            <p>
              <a href="photo.html">See More Examples</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <img class="icon3" src="/images/rainbow2.png"/> -->

<div class="hero-body">
  <div class="container has-text-centered">
    <div class="columns is-vcentered">
      <div class="column is-5 front">
        <iframe width="100%" height="320px" src="https://www.youtube.com/embed/biP5AWiqeAY" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="column is-2">
      </div>
      <div class="column is-5 front">
        <h1 class="title is-2 font-lg">
          Animation
        </h1>
        <p class="is-4 font-md">
          Working with After Effects and Photoshop, I create original animations
          for on-air graphics and I animate Photoshop artwork for the marketing
          department.
        </p>
        <br>
      </div>
    </div>
  </div>
</div>
