---
title: Tori French
---
<div class="container section">
  <div class="container">
    <h1 class="title">About Me</h1>
    <p></p>
  </div>

  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="columns is-vcentered">
        <div class="column is-5">
            <img src="images/tori.png" alt="Selfie">
        </div>
        <div class="column is-6 is-offset-1">
          <p class="is-4 font-md">
            I'm an experienced Graphic Designer at The Shopping Channel who is
            passionate about all things Photoshop. Recently, I completed a Front
            End Development course at HackerYou. Since then, I have been down
            the endless rabbit hole of all things web and UX/UI design. I just can't
            get enough! In my spare time, I play roller derby for the GTA
            Rollergirls and love playing with every cat I come accross! I really
            want a pet unicorn!
          </p>
          <br>
        </div>
      </div>
    </div>
  </div>

<div class="container section">
  <div class="container">
    <h1 class="title">Work</h1>
    <p></p>
  </div>

  <div class="columns">
    <div class="column is-4">
      <div class="card">
        <header class="card-header">
          <p class="card-header-title font-md">
            Still Pages - Marketing
          </p>
        </header>
        <div class="card-image">
          <figure class="image is-4by3">
            <img src="/images/tsc_marketing.jpg" alt="Still-Marketing">
          </figure>
        </div>
        <div class="card-content">
          <div class="panel-block-item font-sm">
            <p>
              I take existing campaigns and adjust elements, rebuild, or create new stills to be used on air.
            </p>
            <p>
              <a href="">See More Examples</a>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="column is-4">
      <div class="card">
        <header class="card-header">
          <p class="card-header-title font-md">
            Still Pages - Branding
          </p>
        </header>
        <div class="card-image">
          <figure class="image is-4by3">
            <img src="/images/tsc_brand.jpg" alt="Still-Branding">
          </figure>
        </div>
        <div class="card-content">
          <div class="panel-block-item font-sm">
            <p>
              I create stills for specific brands by sretouching product images and colour correcting.
            </p>
            <p>
              <a href="">See More Examples</a>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="column is-4">
      <div class="card">
        <header class="card-header">
          <p class="card-header-title font-md">
            Roller Derby Campaign
          </p>
        </header>
        <div class="card-image">
          <figure class="image is-4by3">
            <img src="/images/gtar_banner.jpg" alt="Roller-Derby-Banner">
          </figure>
        </div>
        <div class="card-content">
          <div class="panel-block-item font-sm">
            <p>
              I create digital banners, social media content, and posters for the GTA Rollergirls.
            </p>
            <p>
              <a href="">See More Examples</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="columns">
    <div class="column is-4">
      <div class="card">
        <header class="card-header">
          <p class="card-header-title font-md">
            Set Design - Barco Tile
          </p>
        </header>
        <div class="card-image">
          <figure class="image is-4by3">
            <img src="/images/tsc_barco.jpg" alt="Barco-Tile">
          </figure>
        </div>
        <div class="card-content">
          <div class="panel-block-item font-sm">
            <p>
              I use Photoshop, Illustrator, and After Effects to create, draw, and combine images to create set backgrounds for live use.
            </p>
            <p>
              <a href="">See More Examples</a>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="column is-4">
      <div class="card">
        <header class="card-header">
          <p class="card-header-title font-md">
            Illustration - Bite Me
          </p>
        </header>
        <div class="card-image">
          <figure class="image is-4by3">
            <img src="/images/bite_me.jpg" alt="Bite-Me">
          </figure>
        </div>
        <div class="card-content">
          <div class="panel-block-item font-sm">
            <p>
              I draw and design original artwork for the roller derby community which are sold through The Bite Me Boutique.
            </p>
            <p>
              <a href="">See More Examples</a>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="column is-4">
      <div class="card">
        <header class="card-header">
          <p class="card-header-title font-md">
            Illustration - Retirement
          </p>
        </header>
        <div class="card-image">
          <figure class="image is-4by3">
            <img src="/images/tsc_retirement.jpg" alt="Retirement">
          </figure>
        </div>
        <div class="card-content">
          <div class="panel-block-item font-sm">
            <p>
              I created a custom illustration and animation used live on-air for the retirement of a host at The Shopping Channel.
            </p>
            <p>
              <a href="">See More Examples</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
