<section class="hero is-small">
 <div class="hero-body">
   <div class="container">
     <div class="columns has-text-centered">
       <div class="column">
         <h1 class="title is-2">
           Retirement Illustrations & Story Board
         </h1>

         <%= partial "nav-more" %>

       </div>
     </div>
   </div>
 </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-mobile is-multiline">
      <div class="column is-one-third-desktop is-full-mobile">
        <a class="box" href="/images/retire-story/tsc_retirement.jpg">
          <figure class="image"><img src="/images/retire-story/tsc_retirement.jpg"></figure>
        </a>
      </div>
      <div class="column is-one-third-desktop is-full-mobile">
        <a class="box" href="/images/retire-story/tsc_story.jpg">
          <figure class="image"><img src="/images/retire-story/tsc_story.jpg"></figure>
        </a>
      </div>
      <div class="column is-one-third-desktop is-full-mobile">
        <a class="box" href="/images/retire-story/story_cap.jpg">
          <figure class="image"><img src="/images/retire-story/story_cap.jpg"></figure>
        </a>
      </div>
      <div class="column is-one-third-desktop is-full-mobile">
        <a class="box" href="/images/retire-story/story_driver.jpg">
          <figure class="image"><img src="/images/retire-story/story_driver.jpg"></figure>
        </a>
      </div>
    </div>
  </div>
</section>
