<section class="hero is-small">
 <div class="hero-body">
   <div class="container">
     <div class="columns has-text-centered">
       <div class="column">
         <h1 class="title is-2">
           Photo Retouching
         </h1>

         <%= partial "nav-more" %>

       </div>
     </div>
   </div>
 </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-mobile is-multiline">
      <div class="column is-one-third-desktop is-full-mobile">
        <a class="box" href="/images/retouch/tsc_retouch.jpg">
          <figure class="image"><img src="/images/retouch/tsc_retouch.jpg"></figure>
        </a>
      </div>
      <div class="column is-one-third-desktop is-full-mobile">
        <a class="box" href="/images/retouch/tsc_set.jpg">
          <figure class="image"><img src="/images/retouch/tsc_set.jpg"></figure>
        </a>
      </div>
      <div class="column is-one-third-desktop is-full-mobile">
        <a class="box" href="/images/retouch/remove_people.jpg">
          <figure class="image"><img src="/images/retouch/remove_people.jpg"></figure>
        </a>
      </div>
      <div class="column is-one-third-desktop is-full-mobile">
        <a class="box" href="/images/retouch/tsc_towel.jpg">
          <figure class="image"><img src="/images/retouch/tsc_towel.jpg"></figure>
        </a>
      </div>
      <div class="column is-one-third-desktop is-full-mobile">
        <a class="box" href="/images/retouch/tsc_fusion.jpg">
          <figure class="image"><img src="/images/retouch/tsc_fusion.jpg"></figure>
        </a>
      </div>
      <div class="column is-one-third-desktop is-full-mobile">
        <a class="box" href="/images/retouch/tsc_model_couch.jpg">
          <figure class="image"><img src="/images/retouch/tsc_model_couch.jpg"></figure>
        </a>
      </div>
      <div class="column is-one-third-desktop is-full-mobile">
        <a class="box" href="/images/retouch/tsc_model.jpg">
          <figure class="image"><img src="/images/retouch/tsc_model.jpg"></figure>
        </a>
      </div>
    </div>
  </div>
</section>
